/PRACTICA1/QytetetJava/nbproject/private/
/PRACTICA1/QytetetJava/build/
/PRACTICA1/QytetetRuby/nbproject/private/
/PRACTICA1/QytetetRuby_Autoevaluacion/nbproject/private/
/PRACTICA1/QytetetJava_Autoevaluacion/build/
/PRACTICA1/QytetetJava_Autoevaluacion/nbproject/private/
/PRACTICA3/QytetetJava/dist/